.disc-modal {
    width: 300px;
    height: auto;
    position: fixed;
    translate: -80%;
    background-color: #1a1a1a;
    border-radius: 15px;
    margin: auto;
    padding: 20px;
    z-index: 2;
    border: 1px solid #888;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
}

.disc-close {
    translate: 0px 0px;
}

.disc-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.disc-modal .cross .vertical {
    width: 5px;
    height: 100%;
    left: 50%;
}

.disc-modal .cross .horizontal {
    width: 100%;
    height: 5px;
    top: 50%;
}

.disc-modal h2 {
    color: #fff;
    text-align: left;
}

.disc-modal input {
    width: 97%;
    height: 1.4rem;
}

.disc-options input {
    height: 1.25rem;
    width: 1.5rem;
}
.sound, .response {
    display: flex;
    width: 100%;
    align-items: center;
}

.disc-footer {
    display: flex;
    margin-top: 10px;
    justify-content: end;
    align-items: center;
    color: white;
}

.disc-footer {
    color: white;
    font-size: 20px;
}

.disc-footer button {
    border: 1px solid #888;
    background-color: #555;
    height: 3rem;
    font-size: large;
    transition: all 0.2s ease-in-out;
}

.disc-footer button:hover {
    scale: 1.1;
    border: 1px solid #fff;
}

.status-div {
    display: flex;
    align-items: center;
}

.status-circle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: green;
    translate: 0px 2px;

}